:root {
  --main: transparent;
  --main-tr: #c5393599;
  --border: red;
}

.topbar {
  background: linear-gradient(
    to right,
    var(--main) 10%,
    var(--main-tr),
    var(--main) 90%
  );
}

.topbar::after {
  position: absolute;
  content: "";
  bottom: 0px;
  left: 0px;
  height: 1px;
  width: 100%;
  background: linear-gradient(
    90deg,
    transparent 77px,
    var(--border) 77px,
    var(--border) calc(100% - 77px),
    transparent calc(100% - 77px)
  );
}

.leftBlockTop {
  position: absolute;
  top: 10px;
  left: 0px;
  width: 60px;
  height: 36px;
  background-color: var(--main);
  border-bottom: 2px solid white;
  z-index: -1;
}

.leftBlockTopShadow {
  position: absolute;
  bottom: -2px;
  width: 95%;
  height: 1px;
  box-shadow: 0px 0px 4px 1px rgb(255, 255, 255);
}

.leftBlockTop::after {
  position: absolute;
  content: "";
  bottom: -2px;
  right: -9px;
  width: 4px;
  height: 15px;
  background-color: rgb(255, 255, 255);
  transform: skew(-50deg);
  box-shadow: 0px 0px 4px 1px rgb(255, 255, 255);
  z-index: 90;
}

.leftBlockTop::before {
  position: absolute;
  content: "";
  bottom: -0px;
  right: -10px;
  width: 48px;
  z-index: 0;
  height: 13px;
  background-color: var(--main);
  transform: skew(-50deg);
}

.rightBlockTop {
  position: absolute;
  top: 10px;
  right: 0px;
  width: 60px;
  height: 36px;
  background-color: var(--main);
  border-bottom: 2px solid white;
  z-index: -1;
}

.rightBlockTopShadow {
  position: absolute;
  bottom: -2px;
  right: 0px;
  width: 95%;
  height: 1px;
  box-shadow: 0px 0px 4px 1px rgb(255, 255, 255);
}

.rightBlockTop::after {
  position: absolute;
  content: "";
  bottom: -2px;
  left: -9px;
  width: 4px;
  height: 15px;
  background-color: rgb(255, 255, 255);
  transform: skew(50deg);
  box-shadow: 0px 0px 4px 1px rgb(255, 255, 255);
  z-index: 9;
}

.rightBlockTop::before {
  position: absolute;
  content: "";
  bottom: 0px;
  left: -10px;
  width: 48px;
  z-index: 0;
  height: 13px;
  background-color: var(--main);
  transform: skew(50deg);
}

.bottombar {
  background: linear-gradient(
    to right,
    var(--main) 15%,
    var(--main-tr),
    var(--main) 85%
  );
}

.notch {
  width: 96px;
  height: 32px;
  background-color: black;
  z-index: 99;
  border-left: 2px solid white;
  border-right: 2px solid white;
  border-bottom: 2px solid white;

  border-radius: 0px 0px 50px 50px;
}

.bottombar::after {
  position: absolute;
  content: "";
  top: -0px;
  left: 0px;
  height: 1px;
  width: 100%;
  background: linear-gradient(
    90deg,
    transparent 77px,
    var(--border) 77px,
    var(--border) calc(100% - 77px),
    transparent calc(100% - 77px)
  );
}

.leftBlockBottom {
  position: relative;
  top: -12px;
  left: 0px;
  width: 60px;
  height: 36px;
  background-color: var(--main);
  border-top: 2px solid white;
  z-index: 99;
}

.leftBlockBottomShadow {
  position: absolute;
  top: -2px;
  width: 95%;
  height: 1px;
  box-shadow: 0px 0px 4px 1px rgb(255, 255, 255);
}

.leftBlockBottom::after {
  position: absolute;
  content: "";
  top: -2px;
  right: -9px;
  width: 4px;
  height: 15px;
  background-color: rgb(255, 255, 255);
  transform: skew(50deg);
  box-shadow: 0px 0px 4px 1px rgb(255, 255, 255);
  z-index: 99;
}

.leftBlockBottom::before {
  position: absolute;
  content: "";
  top: -0px;
  right: -10px;
  width: 48px;
  z-index: 99;
  height: 13px;
  background-color: var(--main);
  transform: skew(50deg);
}

.rightBlockBottom {
  position: relative;
  top: -12px;
  right: 0px;
  width: 60px;
  height: 36px;
  background-color: var(--main);
  border-top: 2px solid white;
  z-index: 99;
}

.rightBlockBottomShadow {
  position: absolute;
  top: -2px;
  right: 0px;
  width: 95%;
  height: 1px;
  box-shadow: 0px 0px 4px 1px rgb(255, 255, 255);
}

.rightBlockBottom::after {
  position: absolute;
  content: "";
  top: -2px;
  left: -9px;
  width: 4px;
  height: 15px;
  background-color: rgb(255, 255, 255);
  transform: skew(-50deg);
  box-shadow: 0px 0px 4px 1px rgb(255, 255, 255);
  z-index: 999;
}

.rightBlockBottom::before {
  position: absolute;
  content: "";
  top: 0px;
  left: -10px;
  width: 48px;
  z-index: 999;
  height: 13px;
  background-color: var(--main);
  transform: skew(-50deg);
}
