:root {
  --main: rgb(167, 72, 8);
  --main-tr: rgba(167, 72, 8, 0.6);
}

.topbar {
  background: linear-gradient(
    to right,
    var(--main) 15%,
    var(--main-tr),
    var(--main) 85%
  );
}

.topbar::after {
  position: absolute;
  content: "";
  bottom: -0px;
  left: 0px;
  height: 1px;
  width: 100%;
  background: linear-gradient(
    90deg,
    transparent 77px,
    orange 77px,
    orange calc(100% - 77px),
    transparent calc(100% - 77px)
  );
}

.leftBlockTop {
  position: relative;
  top: 12px;
  left: 0px;
  width: 60px;
  height: 36px;
  background-color: var(--main);
  border-bottom: 2px solid orange;
  z-index: -1;
}

.leftBlockTop::after {
  position: absolute;
  content: "";
  bottom: -2px;
  right: -9px;
  width: 4px;
  height: 15px;
  background-color: rgb(255, 255, 255);
  transform: skew(-50deg);
  box-shadow: 0 0 12px 0 rgb(255 255 255 / 100%), 0px 0px 5px 1px var(--main);
  z-index: 9;
}

.leftBlockTop::before {
  position: absolute;
  content: "";
  bottom: -0px;
  right: -10px;
  width: 48px;
  z-index: 0;
  height: 13px;
  background-color: var(--main);
  transform: skew(-50deg);
}

.rightBlockTop {
  position: relative;
  top: 12px;
  right: 0px;
  width: 60px;
  height: 36px;
  background-color: var(--main);
  border-bottom: 2px solid orange;
  z-index: -1;
}

.rightBlockTop::after {
  position: absolute;
  content: "";
  bottom: -2px;
  left: -9px;
  width: 4px;
  height: 15px;
  background-color: rgb(255, 255, 255);
  transform: skew(50deg);
  box-shadow: 0 0 12px 0 rgb(255 255 255 / 100%), 0px 0px 5px 1px var(--main);
  z-index: 9;
}

.rightBlockTop::before {
  position: absolute;
  content: "";
  bottom: 0px;
  left: -10px;
  width: 48px;
  z-index: 0;
  height: 13px;
  background-color: var(--main);
  transform: skew(50deg);
}

.bottombar {
  background: linear-gradient(
    to right,
    var(--main) 15%,
    var(--main-tr),
    var(--main) 85%
  );
}

.bottombar::after {
  position: absolute;
  content: "";
  top: -0px;
  left: 0px;
  height: 1px;
  width: 100%;
  background: linear-gradient(
    90deg,
    transparent 77px,
    orange 77px,
    orange calc(100% - 77px),
    transparent calc(100% - 77px)
  );
}

.leftBlockBottom {
  position: relative;
  top: -12px;
  left: 0px;
  width: 60px;
  height: 36px;
  background-color: var(--main);
  border-top: 2px solid orange;
  z-index: 99;
}

.leftBlockBottom::after {
  position: absolute;
  content: "";
  top: -2px;
  right: -9px;
  width: 4px;
  height: 15px;
  background-color: rgb(255, 255, 255);
  transform: skew(50deg);
  box-shadow: 0 0 12px 0 rgb(255 255 255 / 100%), 0px 0px 5px 1px var(--main);
  z-index: 99;
}

.leftBlockBottom::before {
  position: absolute;
  content: "";
  top: -0px;
  right: -10px;
  width: 48px;
  z-index: 99;
  height: 13px;
  background-color: var(--main);
  transform: skew(50deg);
}

.rightBlockBottom {
  position: relative;
  top: -12px;
  right: 0px;
  width: 60px;
  height: 36px;
  background-color: var(--main);
  border-top: 2px solid orange;
  z-index: 99;
}

.rightBlockBottom::after {
  position: absolute;
  content: "";
  top: -2px;
  left: -9px;
  width: 4px;
  height: 15px;
  background-color: rgb(255, 255, 255);
  transform: skew(-50deg);
  box-shadow: 0 0 12px 0 rgb(255 255 255 / 100%), 0px 0px 5px 1px var(--main);
  z-index: 999;
}

.rightBlockBottom::before {
  position: absolute;
  content: "";
  top: 0px;
  left: -10px;
  width: 48px;
  z-index: 999;
  height: 13px;
  background-color: var(--main);
  transform: skew(-50deg);
}
