:root {
  --main: transparent;
  --main-tr: #75221f;
  /*  --main-tr: rgb(212, 48, 0); */
  --border: red;
}

.topbar {
  background: linear-gradient(
    to right,
    var(--main-tr) 75px,
    transparent 75px,
    transparent calc(100% - 75px),
    var(--main-tr) calc(100% - 75px)
  );
}

.leftBlockBottom {
  position: absolute;
  bottom: 10px;
  left: 0px;
  width: 60px;
  height: 36px;
  background-color: var(--main-tr);
  border-top: 2px solid white;

  z-index: -1;
}

.leftBlockBottomShadow {
  position: absolute;
  top: -2px;
  width: 95%;
  height: 1px;
  box-shadow: 0px 0px 4px 1px rgb(255, 255, 255);
}

.leftBlockBottom::after {
  position: absolute;
  content: "";
  top: -2px;
  right: -9px;
  width: 4px;
  height: 15px;
  background-color: rgb(255, 255, 255);
  transform: skew(50deg);
  box-shadow: 0px 0px 4px 1px rgb(255, 255, 255);
  z-index: 90;
}

.leftBlockBottom::before {
  position: absolute;
  content: "";
  top: -0px;
  right: -10px;
  width: 48px;
  z-index: 0;
  height: 13px;
  background-color: var(--main-tr);
  transform: skew(50deg);
}

.rightBlockBottom {
  position: absolute;
  bottom: 10px;
  right: 0px;
  width: 60px;
  height: 36px;
  background-color: var(--main-tr);
  border-top: 2px solid white;

  z-index: -1;
}

.rightBlockBottomShadow {
  position: absolute;
  top: -2px;
  width: 95%;
  height: 1px;
  box-shadow: 0px 0px 4px 1px rgb(255, 255, 255);
}

.rightBlockBottom::after {
  position: absolute;
  content: "";
  top: -2px;
  left: -9px;
  width: 4px;
  height: 15px;
  background-color: rgb(255, 255, 255);
  transform: skew(-50deg);
  box-shadow: 0px 0px 4px 1px rgb(255, 255, 255);
  z-index: 90;
}

.rightBlockBottom::before {
  position: absolute;
  content: "";
  top: -0px;
  left: -10px;
  width: 48px;
  z-index: 0;
  height: 13px;
  background-color: var(--main-tr);
  transform: skew(-50deg);
}
